<!DOCTYPE html>
<html ng-app="rcn">
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>RCN Distribuzione</title>
  <link rel="icon" href="images/favicon.png" type="image/png" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Allura">
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="index.html">Home</a></li>
          <li role="presentation" class="active"><a href="#">Prodotti</a></li>
          <li role="presentation"><a href="#">Contatti</a></li>
          <li role="presentation"><a href="#">Ricette</a></li>
        </ul>
      </nav>
      <img src="images/rcnlogo.png" alt="RCN Distribuzione" />
    </div>

    <div class="jumbotron">
      <h2 class="text-center">I nostri prodotti derivano dalla tradizione lattiero-casearia campana, a partire
      dai freschi fino agli elaborati gastronomici. La distribuzione viene eseguita con cura,
      rispettando il ciclo del freddo, allo scopo di fornire il prodotto inalterato al consumatore.</h2>
    </div>

    <div class="row" ng-controller="ProductController as productCtrl">
      <div class="col-lg-3 col-md-4 col-sm-6 product" ng-repeat="product in productCtrl.products">
        <div class="text-center">
          <a ng-click="productCtrl.setCurrent($index)" data-toggle="modal" data-target="#descriptionModal" href="#" role="button">
            <img class="img-rounded" ng-src="{{product.image}}" alt="{{product.name}}" height="140" width="140">
          </a>
        </div>
        <h4 class="text-center">{{product.name}}</h4>
        <p class="text-center"><a ng-click="productCtrl.setCurrent($index)" data-toggle="modal" data-target="#descriptionModal" class="btn btn-default btn-xs" href="#" role="button">Dettagli »</a></p>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{{productCtrl.currentProduct.name}}</h4>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <p>{{productCtrl.currentProduct.description}}<p>
              </div>
              <div class="text-center">
                <img class="img-rounded" ng-src="{{productCtrl.currentProduct.image}}" alt="{{productCtrl.currentProduct.name}}" height="340" width="340">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <p>© RCN Distribuzione 2015</p>
    </footer>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="js/angular.rcn.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="js/bootstrap.rcn.js"></script>
</body>
</html>
